
---
import Layout from "@/layouts/Layout.astro";
import Nav from "@/components/nav.astro";
---

<Layout title="Embed - Luke Steinbicker">
  <Nav />
  <section class="text-[var(--white)] min-h-screen flex items-center justify-center">
    <div class="max-w-5xl mx-auto text-center space-y-8 px-6">
      <div class="space-y-8">
        <h1 class="text-4xl md:text-5xl font-medium">Embed Demo</h1>
        <p class="text-lg md:text-xl text-[var(--white-icon)] max-w-2xl mx-auto">
          How did you find this?
        </p>
      </div>
      
      <div class="flex flex-col sm:flex-row gap-4 justify-center items-center">
        <a
          href="/"
          class="text-[var(--white-icon)] hover:text-white transition duration-300 ease-in-out border border-1 border-[var(--white-icon-tr)] px-8 py-4 rounded-xl bg-[#1414149c] hover:bg-[var(--white-icon-tr)] text-lg font-medium"
        >
          Back to Home
        </a>
      </div>
    </div>
  </section>
</Layout>

<script src="https://cdn.jsdelivr.net/gh/lukesteinbicker/embed@main/embed.js" data-token="emb_X9fdHHasfJ9k8MCpn7IWo"></script>